@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    scrollbar-color: #3f3f46 #18181b;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

html {
    scrollbar-width: none;

}



@media screen and (max-width: 540px) {
    html {
        font-size: 80%;
    }

}